body {
    font-family: Georgia, serif; /* Georgia as main font */
    font-size: 100%;
    color: #0A3D62; /* Dark blue for main text */
    background-color: #EAF4F9; /* Light blue for background */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
    font-family: Georgia, serif;
    font-size: 140%;
    color:rgb(168, 178, 182); /* Dark blue for main headings */
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: Georgia, serif;
    font-size: 120%;
    color: #3C8DBA; /* Mid-blue for subheadings */
    margin: 0px;
    padding: 0px;
}

h3 {
    font-family: Georgia, serif;
    font-size: 110%;
    color: #0A3D62; /* Dark blue */
    margin: 0px;
    padding: 0px;
}

h4 {
    font-family: Georgia, serif;
    font-size: 100%;
    color: #0A3D62; /* Dark blue */
    margin: 0px;
    padding: 0px;
}

footer {
    font-family: Georgia, serif;
    clear: both;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #3C8DBA; /* Mid-blue border */
    background-color: #A3D2E2; /* Light-mid blue for footer */
    color: #EAF4F9;
    width: 100%;
}

main {
    padding: 5px;
    border-top: 1px solid #3C8DBA;
    background-color: #EAF4F9; /* Light blue */
    float: left;
    width: 55%;
    color: #0A3D62;
    height: 100%;
}

main table {
    padding: 2px;
    background-color: #7ab7ef; /* Light-mid blue for table */
    color: #0A3D62;
}

main td {
    padding: 2px;
}

header {
    padding: 10px;
    border-bottom: 1px solid #64bbeb;
    background-color: #0A3D62; /* Dark blue for header background */
    color: #EAF4F9;
    height: 50px;
    width: 100%;
}

nav {
    padding: 10px;
    border-bottom: 1px solid #3C8DBA;
    border-top: 1px solid #3C8DBA;
    border-right: 1px solid #3C8DBA;
    background-color:598392; /* Light-mid blue for navbar */
    color: #0A3D62;
    width: 20%;
}

a {
    color: #3C8DBA; /* Mid-blue for links */
    text-decoration: none;
}

a:link {
    color: #3C8DBA;
    text-decoration: none;
}

a:visited {
    color: #0A3D62; /* Dark blue for visited links */
    text-decoration: none;
}

a:hover {
    color: #143844; /* Light-mid blue for hover effect */
    text-decoration: underline;
}

input {
    font-family: Georgia, serif;
    border: 1px solid #0A3D62;
    color: #0A3D62;
    background-color: #EAF4F9;
}

input[type=submit] {
    font-family: Georgia, serif;
    background-color: #3C8DBA; /* Mid-blue for submit button */
    color: #EAF4F9; /* Light background text for contrast */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

input:required:invalid {
    border: 1px solid #FF4C4C; /* Soft red for invalid input */
}

input:required:valid {
    border: 1px solid #3C8DBA; /* Mid-blue for valid input */
}

input:focus {
    background-color: #A3D2E2; /* Light-mid blue focus color */
}